<!-- This Page is a Form for Adding new Products -->
<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Login</title>
		</head>
	<body>

		<h1>Login de Usuario</h1>
		<br>

		<form action="/login" method="post">
			<label>Email</label>
			<br>
			<input type="text" name="email" placeholder="Email" required/>
			<br><br>
			<label >Senha</label>
			<br>
			<input type="password" name="senha" placeholder="Senha" required minlength="8"/>
			<br><br>
			<input type="submit" value="Login"/>
			<br><br>
			<label>Não é cadastrado?</label>
			<br>
			<button><a style="text-decoration: none;color:black;" href="/register_form">Cadastrar-se</a></button>
		</form>

	</body>
</html>